binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+B { spawn "dms" "ipc" "call" "bar" "toggle" "index" "0"; }
    Mod+Shift+L allow-when-locked=true hotkey-overlay-title="Lock the Screen" { spawn-sh "dms ipc call lock lock || hyprlock"; }
    Mod+N hotkey-overlay-title="Open File Manager" { spawn "nautilus"; }
    Mod+D hotkey-overlay-title="Run an Application" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }

    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    Mod+Return { spawn "kitty"; }
    Mod+T { spawn "kitty" "--class" "floating-kitty"; }
    Mod+Shift+Y hotkey-overlay-title="Open YouTube" { spawn "webapp-youtube"; }
    Mod+Shift+G hotkey-overlay-title="Open Gemini" { spawn "webapp-gemini"; }
    Mod+Shift+X hotkey-overlay-title="Open Grok" { spawn "webapp-grok"; }
    Mod+Shift+C hotkey-overlay-title="Open ChatGPT" { spawn "webapp-chatgpt"; }
    Mod+Shift+W hotkey-overlay-title="Open WhatsApp" { spawn "webapp-whatsapp"; }
    Mod+Shift+D hotkey-overlay-title="Open Google Docs" { spawn "webapp-google-docs"; }

    XF86AudioRaiseVolume allow-when-locked=true repeat=false { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true repeat=false { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp   allow-when-locked=true repeat=false { spawn-sh "dms ipc call brightness increment 10 '' || brightnessctl --class=backlight set +10%"; }
    XF86MonBrightnessDown allow-when-locked=true repeat=false { spawn-sh "dms ipc call brightness decrement 10 '' || brightnessctl --class=backlight set 10%-"; }

    Mod+O { toggle-overview; }

    Mod+Q { close-window; }

    Mod+H               { focus-column-left; }
    Mod+L               { focus-column-right; }
    Mod+J               { focus-workspace-down; }
    Mod+K               { focus-workspace-up; }
    Mod+Ctrl+H   { move-column-left; }
    Mod+Ctrl+L   { move-column-right; }
    Mod+Ctrl+J   { move-workspace-down; }
    Mod+Ctrl+K   { move-workspace-up; }

    Mod+WheelScrollDown            cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp              cooldown-ms=150 { focus-workspace-up; }

    Mod+Shift+WheelScrollRight           { focus-column-right; }
    Mod+Shift+WheelScrollLeft            { focus-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }


    Mod+1 { focus-window-in-column 1; }
    Mod+2 { focus-window-in-column 2; }
    Mod+3 { focus-window-in-column 3; }
    Mod+4 { focus-window-in-column 4; }
    Mod+5 { focus-window-in-column 5; }
    Mod+6 { focus-window-in-column 6; }
    Mod+7 { focus-window-in-column 7; }
    Mod+8 { focus-window-in-column 8; }
    Mod+9 { focus-window-in-column 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }


    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus      { set-window-height "-10%"; }
    Mod+Shift+Equal      { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+S { screenshot; }
}
