spawn-at-startup "awww-daemon"

include "debug.kdl"
include "input.kdl"
include "outputs.kdl"
include "workspaces.kdl"
include "layout-orange.kdl"
include "animations.kdl"
include "misc.kdl"
include "decorations.kdl"
include "binds.kdl"
include "overview.kdl"
include "colors.kdl"
include "rules.kdl"


include "dms/binds.kdl"
include "dms/cursor.kdl"

include "dms/outputs.kdl"

include "dms/windowrules.kdl"
