window-rule {
    geometry-corner-radius 5
     clip-to-geometry true
}

window-rule {
    match app-id="^Alacritty$"
    match app-id="^Alacritty-floating$"

    clip-to-geometry true
    tiled-state true
    draw-border-with-background false

    shadow { on; }
	opacity 0.95
}

// prefer-no-csd

layout {
    focus-ring {
        // off
        width 1
    }

    border {
        off
    }

    shadow {
        off
    }
}
