window-rule {
    geometry-corner-radius 10
     clip-to-geometry true
}

window-rule {
    background-effect {
        blur true
    }
     draw-border-with-background false
}

// window-rule {
//
//     match app-id="^(org\\.wezfurlong\\.wezterm|Wezterm-floating)$"
//
//     clip-to-geometry true
//     tiled-state true
//
//     shadow { on; }
// 	opacity 0.6
// }

// prefer-no-csd

layout {
    focus-ring {
        // off
        width 1
    }

    border {
        off
    }

    shadow {
        off
    }
}
