layout {
    gaps 8

   // struts {
   //      left 3
   //      right 3
   //      top 3
   //      bottom 3
   //  }
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    default-column-display "tabbed"
    background-color "#fff7df"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // minimalist: just a 2px accent ring on the focused window, no border
    focus-ring {
        on
        width 2
        active-color "#ffaf00"
        inactive-color "#888888"
        urgent-color "#ad5a4d"
    }

    border {
        off
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 4
        active-color "#ffaf00"
        inactive-color "#9b907f"
        urgent-color "#ad5a4d"
    }

    insert-hint {
        on
        color "#ffaf0080"
    }
}
