layout {
    gaps 5
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    default-column-display "tabbed"
    background-color "#111111"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        on
        width 4
        active-color "#000000"
        inactive-color "#ffffff"
        urgent-color "#ff6b6b"
    }

    border {
        on
        width 4
        active-color "white"
        inactive-color "black"
        urgent-color "white"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 4
        active-color "red"
        inactive-color "gray"
        urgent-color "#ff6b6b"
    }

    insert-hint {
        on
        color "#ffc87f80"
    }
}
