layer-rule {
    // DMS wallpaper window uses quickshell's default layer namespace
    match namespace="^quickshell$"
    place-within-backdrop true
}

layout {
    background-color "transparent"
}

overview {
    workspace-shadow {
        on
    }
}
